<!DOCTYPE html>
<html>
<head>
    <title>This is DevSecOps Demo</title>
</head>
<body>
    <h1>This is DevSecOps Demo</h1>
    <img src="{{ url_for('static', filename='devops.png') }}" alt="DevOps">
    <img src="{{ url_for('static', filename='snyk.png') }}" alt="Snyk">
    <img src="{{ url_for('static', filename='jenkins.png') }}" alt="Jenkins">
    <img src="{{ url_for('static', filename='aws.png') }}" alt="AWS">
    <img src="{{ url_for('static', filename='docker.png') }}" alt="Docker">
</body>
</html>
